// DESKTOP VERSION
@import 'normalize';

// Global variables
$navheight: 4.5rem;
$brand-color: hsla(189, 24%, 50%, 0.5);
$font-family: 'Montserrat', 'Arial', sans-serif;
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // font-family: 'Montserrat', 'Arial', sans-serif;
  height: 100vh;
  font-family: $font-family;
  background-color: azure;
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6em;
  // text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  height: $navheight;
  align-items: center;
  background-color: hsl(203, 19%, 81%);
  border-bottom: 5px solid hsl(194, 81%, 56%);

  .logo {
    flex-grow: 1;
    height: $navheight;
    display: flex;
    padding-left: 1rem;
    align-items: center;

    img {
      height: calc(4.5rem - 1.5rem); // sass variable substitution error
      width: auto;
    }
  }

  .nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;

    .menu-item {
      // background-color: $brand-color;
      width: 100%;
      font-size: 1.5rem;
      color: black;
      text-align: center;
      transition: 0.3s;
      height: 100%;
      a {
        line-height: 72px;
      }
      &:hover {
        background-color: hsla(189, 24%, 50%, 0.868);
        cursor: pointer;
        width: 100%;
      }
      &:active {
        // $brand-color: lighten(desaturate(hsla(189, 24%, 50%, 0.868)));
        background: #aaa;
      }
    }
  }
}

main {
  // height: 1300px;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  min-height: 60vh;
}

h1,
h2,
h3 {
  font-family: $font-family;
  padding: 30px;
}
h1 {
  font-size: 2.4em;
  line-height: 5rem;
  font-weight: 800;
}
p {
  font-family: sans-serif;
}
.form-body {
  display: flex;
  justify-content: space-around;

  .contact-form {
    width: 100%;
    margin: 0;
  }
  .form-container {
    width: 50%;
    height: 50%;
  }
  form {
    background-image: url(../img/contact-form-bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    color: black;
    margin: 1rem;
    border: 2px solid silver;
    border-radius: 5px;
  }
  .form-content {
    margin: 1rem;
  }

  .contact-text {
    text-align: center;
  }

  form message {
    height: 80px;
    border-radius: 5px;
  }

  fieldset {
    padding: 1rem;
    margin: 0;
    border: none;
  }

  label {
    display: block;
    padding: 0 0 0.5rem 0;
    border-radius: 5rem;
    width: 100%;
    text-align: center;
  }

  input[type='text'] {
    width: 100%;
    padding: 0.5rem;
    color: black;
    display: inline-block;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    height: 6rem;
    border-radius: 5px;
  }

  input[type='submit'] {
    background-color: lightgray;
    display: block;
    width: 25%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 1rem auto;
  }

  input[type='submit']:hover {
    background-color: black;
    color: white;
  }
  .map-container {
    width: 50%;
  }
}
footer {
  background-color: rgba(59, 60, 61, 0.686);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .footer-content {
    margin: 1rem;
    padding: 1rem;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .social-media {
    display: inline-block;
  }
  .footer-contact {
    display: flex;
    font-size: 1rem;
    color: white;
    justify-content: right;
    margin: 1rem;
    padding: 1rem;
  }

  .footer-copyright {
    align-self: center;
  }
}

// TABLET VERSION
@media screen and (max-width: 800px) {
  .navbar .nav .menu-item {
    font-size: 1rem;
  }
  .form-container {
    width: 100%;
    height: 50%;
  }
  .map-container {
    width: 100%;
    margin-top: 1px;
  }
}

// MOBILE VERSION
@media screen and (max-width: 480px) {
  body {
    font-size: 1rem;
  }
  .form-body {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .form-body form {
    margin: 0;
  }
  .form-body .form-container {
    // flex-direction: column;
    width: 100%;
  }

  .form-body .map-container {
    width: 100%;
    align-items: center;
  }
  input {
    width: 100%;
  }
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-contact {
    width: 100%;
  }
}
